{% extends 'base.html' %}

{% block content %}

    <h1 class="justify-content-center">Add an Avenger's Account Info</h1>
    <!-- {% for name in list_names %}
        <h3>{{ name }}</h3>
    {% endfor %} -->
    

    <div class="justify-content-center">
        <form method="POST">
            {{ user_form.hidden_tag() }}
            <fieldset>
                {{ user_form.name.label }}
                {{ user_form.name(class="form_control form-control-lg", placeholder="Ex. Hulk") }}
            </fieldset>
            <fieldset>
                {{ user_form.phone.label }}
                {{ user_form.phone(class="form_control form-control-lg", placeholder="Ex. 555-555-5555") }}
            </fieldset>
            <fieldset>
                {{ user_form.email.label }}
                {{ user_form.email(class="form_control form-control-lg", placeholder="Ex. hulk@sheild.com") }}
            </fieldset>
            <fieldset>
                {{ user_form.password.label }}
                {{ user_form.password(class="form_control form-control-lg", placeholder="********") }}
            </fieldset>
            <fieldset>
                {{ user_form.confirm_pass.label }}
                {{ user_form.confirm_pass(class="form_control form-control-lg", placeholder="********") }}
            </fieldset>
            {{ user_form.submit(class="btn btn-success") }}
        </form>
    </div>


{% endblock content %}